header {
    padding: 2rem $gutter;
    h1 {
        font-size: 2rem;
    }
}

nav button {
    display: none;
}
nav {
    background-color: $menuColor;
    ul {
        display: flex;
        margin-left: 2%;
        border-left: 1px solid rgba(0,0,0,.2);
        list-style-type: none;
        padding-left: 0;
        li {
            border-right:  1px solid rgba(0,0,0,.2);
            width: 10rem;
            a {
                display: block;
                font-size: 1rem;
                padding: .9rem 1.2rem;
                color: white;
                text-decoration: none;
                transition: background .3s ease-out;
                &:hover{
                    background-color: lighten($menuColor, 20%);
                }
                &:active {
                    background-color: white;
                    color: $fontColor;
                }
            }
            &.active a{
                background-color: white;
                color: $fontColor;
            }
        }
    }
}

#primaryNav .parent > a:after {
    content: '\25BC';
    font-size: .6rem;
    color:rgba(256,256,256,.5);
    float: left;
}

ul li ul {
display: flex;
flex-direction: column;
background-color: darken($menuColor, 20%);
border: none;
width: 10rem;
position: absolute;
left: -999rem;
}

ul li ul li {
    border-right: none;
    border-top: 1px solid rgba(0,0,0,.2);

}

ul li:hover ul {
    left: auto;
    margin-left: 0;
    z-index: 99;
}
