$primaryColor: #417b5a;
$secondaryColor: #4B3F72;
$menuColor: #4B3F72;
$fontColor: #1F2041;

$bodyFont: 'Bricolage Grotesque', sans-serif;
$displayFont: 'Young Serif', serif;
$lightWeight:300;
$normalWeight:400;
$mediumWeight: 500;
$boldWeight:700;

$gutter: 16px;

