/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $bodyFont;
  font-weight: $normalWeight;
  color: $fontColor;
  display: grid;
}

#headerWrapper {
  grid-row: 1;
  background-color: $primaryColor;
  color: $fontColor;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem $gutter;
  gap: 8px;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  h1 {
    font-family: $displayFont;
    margin: 0;
    font-size: 1.2rem;
    font-weight: $normalWeight;
    color: $secondaryColor;
  }
  .phone {
    display: none;
  }
}

#navWrapper {
  grid-row: 4;
  background-color: $secondaryColor;
  padding: $gutter;
}
nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;

  a {
    flex-basis: 5%;
    text-align: right;
    align-items: center;
    max-height: min-content;
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid $primaryColor;

    &:last-child {
      border-bottom: 1px solid $primaryColor;
    }
    &:hover {
      color: $primaryColor;
    }
  }
  a.active {
    background-color: $tertiaryColor;
  }
}

#ham a,
#closex a {
  display: block;
  padding: 0.8rem 2vw;
  font-size: 1.5rem;
  color: $fontColor;
  text-decoration: none;
  text-align: right;
}

#closex a {
  color: $tertiaryColor;
}

#mainWrapper {
  grid-row: 2;
  padding: 0 $gutter;
}

h2 {
  color: $tertiaryColor;
}

.applyForm {
  margin: 1rem $gutter;
  label, .label {
    display: block;
    font-size: 0.8rem;
    color: $secondaryColor;
    padding-top: 2rem;
  }
  h3 {
    color: $tertiaryColor;
    margin: 1.5rem 0 0rem 0;
    border-bottom: 1px solid $secondaryColor;
  }
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="date"],
  select {
    display: block;
    width: 256px;
    height: 48px;
    border-radius: 6px 0 6px 0;
    border: 2px solid $fontColor;
    color: $fontColor;
    margin-top: 8px;
    padding: 0.5rem;
    font-size: 1rem;
    &:focus {
      border: 3px solid $secondaryColor;
    }
  }
  input[type="submit"] {
    border: none;
    background-color: $tertiaryColor;
    color: white;
    border-radius: 6px 0 6px 0;
    padding: 1rem;
    margin: 2rem 0;
    width: 196px;
    font-size: 1.3remrem;
    -webkit-appearance: none;
    appearance: none;
    font-weight: $boldWeight;
    &:hover {
      background-color: lighten($tertiaryColor, 4%);
    }
    &:active {
      background-color: darken($tertiaryColor, 4%);
    }
  }

  input[type='checkbox'],
  input[type='radio'] {
    transform: scale(2);
    margin-right: 1rem;
  }


  input:required {
    &:invalid {
      color: rgb(255, 0, 0);
    }
    &:valid {
      color: green;
    }
  }
  .label {
margin-bottom: -16px;
  }
 label[for='comp'], label[for='comm'] {
  color: $fontColor;
  font-size: 1rem;
 }
  p {
    margin: 0;
  }
}
.astrisk {
  color: red;
}



// begin the footer
#footerWrapper {
  grid-row: 3;
  background-color: $primaryColor;
}
footer {
  padding: 0.5rem $gutter;

  p {
    margin: 0;
    font-weight: $lightWeight;
    text-align: center;
  }
}
