/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $bodyFont;
  font-weight: $normalWeight;
  color: $fontColor;
  display: grid;
}

#headerWrapper {
  grid-row: 1;
  background-color: $primaryColor;
  color: $fontColor;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem $gutter;
  gap: 8px;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  h1 {
    font-family: $displayFont;
    margin: 0;
    font-size: 1.2rem;
    font-weight: $normalWeight;
  }
  .phone {display: none;}
}

#navWrapper {
  grid-row: 4;
  background-color: $secondaryColor;
  padding: $gutter;
}
nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  
  a {
    flex-basis:5%;
    text-align: right;
    align-items: center;
    max-height: min-content;
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid $primaryColor;

    &:last-child {
      border-bottom: 1px solid $primaryColor;
    }
    &:hover {
      color: $primaryColor;
    }
  }
  a.active {
    background-color: $tertiaryColor;
  }
}

#ham a,
#closex a {
  display: block;
  padding: 0.8rem 2vw;
  font-size: 1.5rem;
  color: $fontColor;
  text-decoration: none;
  text-align: right;
}

#closex a {
  color: $tertiaryColor;
}

#mainWrapper {
  grid-row: 2;
  height: 100vh;
}

// begin the footer
#footerWrapper {
  grid-row: 3;
  background-color: $primaryColor;
}
footer {
  padding: 0.5rem $gutter;

  p {
    margin: 0;
    font-weight: $lightWeight;
    text-align: center;
  }
}
