$primaryColor: #d7d9ce;
$secondaryColor: #13505b;
$tertiaryColor: #0c7489;
$quadrunaryColor: #119da4;
$fontColor: #040404;
$darkBlue:$secondaryColor;
$mediumBlue:$tertiaryColor;
$lightBlue: $quadrunaryColor;


$bodyFont: 'Bricolage Grotesque', sans-serif;
$displayFont: 'Young Serif', serif;
$lightWeight:300;
$normalWeight:400;
$mediumWeight: 500;
$boldWeight:700;

$gutter: 16px;

