$primaryColor: #B8D8D8;
$secondaryColor: #7A9E9F;
$fontColor: #3e3d3d;

$bodyFont: 'Bricolage Grotesque', sans-serif;
$displayFont: 'Young Serif', serif;
$lightWeight:300;
$normalWeight:400;
$mediumWeight: 500;
$boldWeight:700;

$gutter: 16px;

