$primaryColor: #aeaeae;
$secondaryColor: rgb(100, 73, 73);
$fontColor: #333;

$bodyFont: 'Arvo', serif;
$displayFont: 'Arvo', serif;
$lightWeight:300;
$normalWeight:400;
$mediumWeight: 500;
$boldWeight:700;

$gutter: 16px;

