$primaryColor: #121616;
$secondaryColor: #df2935;
$fontColor: #e6e8e6;

$bodyFont: 'Space Grotesk', sans-serif;
$displayFont: 'Teko', sans-serif;
$lightWeight:300;
$normalWeight:400;
$mediumWeight: 500;
$boldWeight:700;

$gutter: 16px;

