/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $bodyFont;
  font-weight: $normalWeight;
  color: $fontColor;
}

#headerWrapper {
  background-color: $primaryColor;
  color: $fontColor;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem $gutter;
  gap: 8px;
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  h1 {
    font-family: $displayFont;
    margin: 0;
    font-size: 1.2rem;
    font-weight: $normalWeight;
    color: white;
  }
  button {
    width: 48px;
    height: 48px;
    margin: 0;
    align-self: start;
    background: none;
    border: none;
    font-size: 2rem;
    text-align: right;
    color: white;
  }
}

.pageWrapper {
  position: relative;
  overflow-x: hidden;
}

.moveOver > .content {
    transform: translateX(-180px);
  }
  .content {
  transition: transform 400ms ease-out;

}


nav {
  background-color: $secondaryColor;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 180px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);

  div {
    display: block;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.1rem;
    background-color: $secondaryColor;
    color: white;
  }

  a {
    flex: 1;
    text-align: center;
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    text-align: right;
    border-bottom: 1px solid rgba(0,0,0, .3);
    color: $fontColor;

    &:hover {
      color: white;
    }
  }
  a.active {
    background-color: $fontColor;
    color: white;
  }
}

main {
  margin: 2rem 3%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: $gutter;
}

// cards grid stuff 
section {
  border-radius: 6px;
  &:hover {box-shadow: 2px 2px 5px;}
  background-color: $secondaryColor;
  padding: .5rem;


  display: grid;
  gap: .5rem;
  grid-template-areas: 
    'name'
    'photo'
    'address'
    'phone';

    h2 {
      grid-area: name;
margin: 0;
    }
    img {
      border-radius: 6px;
      grid-area: photo;
      display: block;
      width: 100%;
      height: auto;
    }
    address {
      grid-area: address;
    }
    a {
      grid-area: phone;
      text-decoration: none;
      color: $fontColor;
    }
}



// begin the footer
#footerWrapper {
    background-color: $primaryColor;
}
footer {
    padding: .5rem $gutter;

    p {
        margin: 0;
        font-weight: $lightWeight;
        text-align: center;
    }
}