$primaryColor: #33658A;
$secondaryColor: #86BBD8;
$fontColor: #2F4858;

$bodyFont: 'Bricolage Grotesque', sans-serif;
$displayFont: 'Young Serif', serif;
$lightWeight:300;
$normalWeight:400;
$mediumWeight: 500;
$boldWeight:700;

$gutter: 16px;

