header {
    padding: 2rem $gutter;
    h1 {
        font-size: 2rem;
    }
}
#navWrapper button {
    display: none;
}

nav {
    padding: 0 $gutter;
    display: flex;
    position: relative;
    justify-content: right;
    flex-direction: row;
    a {
        max-width: min-content;
    }
}



// Create the for loop
@for $i from 1 through 12 {
    $w:calc($i / 12) * 100%;
    .medium-#{$i} { flex-basis: $w;}
  }