/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $bodyFont;
  font-weight: $normalWeight;
  color: $fontColor;
}

#headerWrapper {
  background-color: $primaryColor;
  color: $secondaryColor;
}
header {
  display: flex;
  align-items: flex-end;
  padding: 1rem $gutter;
  gap: 8px;
  position: relative;

  h1 {
    font-family: $displayFont;
    margin: 0;
    font-size: 1.2rem;
    font-weight: $normalWeight;
  }
}

#navWrapper {
  background-color: $tertiaryColor;
}
nav {
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;

  a {
    flex: 1;
    text-align: center;
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    color: $fontColor;

    &:hover {
      color: $secondaryColor;
    }
  }
  a.active {
    text-decoration: underline 3px solid $secondaryColor;
  }
}

main img {
  width: 100%;
  height: auto;
}

// dev purposes! 
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // border: darkmagenta 3px solid;
margin: 1rem;
padding: 0 .5rem;
}

.column {
  // border: darkgoldenrod 3px solid;
  padding: 0 2rem;
  margin: 1rem 0;
}


// Create the for loop
@for $i from 1 through 12 {
  $w:calc($i / 12) * 100%;
  .small-#{$i} { flex-basis: $w;}
}

.line {
  border: 3px solid $primaryColor;
}
.round {
  border-radius: 6px;
}
.fill {
  background-color: $secondaryColor;
}
.shadow {
  box-shadow: 2px 2px 5px;
}

// begin the footer
#footerWrapper {
    background-color: thistle;
}
footer {
    padding: .5rem $gutter;

    p {
        margin: 0;
        font-weight: $lightWeight;
        text-align: center;
    }
}