$primaryColor: #e6e8e6;
$secondaryColor: #f15025;
$tertiaryColor: #ced0ce;
$fontColor: #191919;

$bodyFont: 'Bricolage Grotesque', sans-serif;
$displayFont: 'Young Serif', serif;
$lightWeight:300;
$normalWeight:400;
$mediumWeight: 500;
$boldWeight:700;

$gutter: 16px;

